<%- include('partials/header'); -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">

  <div class="input-group input-group-lg col-lg-12">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
    </div>
    <input type="text" class="form-control" name="title" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
  </div>

<br>
  <div class="">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Paragraph</span>
    </div>
      <textarea name="content" class="col-lg-12 content" rows="5"></textarea>
  </div>

  <div class="buttonDiv">
    <button class="btn btn-primary test" type="submit" name="composeButton">Publish</button>
  </div>
</form>


<%- include('partials/footer'); -%>
